h1{
color: #ffffff ;

}

.profile-photo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.Personal-Details{
    color: #ffffff;
    background-color: #000000 ;
    font: 100;
    font-style: normal ;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    text-align: center
}

.body{
    color:green;
    background-color: #000000 ;
    font-style: normal ;
    font-family: 'Courier New', Courier, monospace ;
    outline-color: #000000 ;
    outline-width: 50px;
    outline-style: solid;
}    
   

header{
    background-color: #000000
}

.Segments{
    border-color: greenyellow;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    font-size: 18px;

}

.headings{
    text-align: center
}

.Contact-Form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;  
}

input{
 width: 30%;
 height: 30px;
 font-size: 24px;
}

input.message{
    height:150px;
}
